version: 2.1
jobs:
  run_tests:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: 'Install dependencies'
          command: |
            yarn add package.json
      - run:
          name: 'Run unit tests'
          command: |
            yarn test

      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results

workflows:
  build_test:
    jobs:
      - run_tests
